* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Rubix', sans-serif;
	color: #272829;
	font-size: 1rem;
	text-align: flex;
}

a {
	color: #f1f1ed;
	text-decoration: none;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rubix', sans-serif;
}

@media screen and (max-width: 768px) {
	html {
		font-size: 90%;
	}
}

@media screen and (max-width: 768px) {
	h2,
	h3 {
		font-size: 70%;
	}
}
